{% extends 'main_app/base.html' %}
{% block title %}
Kids Section
{% endblock %}
{% block content %}


<div class="container mt-5">
    <div class="row mt-5">
        {% for p in kiditem %}
            <div class="card text-center m-2" style="width: 18rem;"
            onmouseover="this.style.border = '1px solid #707371'"
            onmouseout="this.style.border = '1px solid #EDEDED'">
                <h5 class="card-title"><a href="{% url 'productdetail' p.slug %}"></a>{{ p.title }}</h5>
                                <a href="{% url 'productdetail' p.slug %}">
                <img class="card-img-top" src="{{ p.image }}" alt="Card image cap"></a>
                <div class="mt-auto">
                    <p> Price: {{ p.price }} EUR</p>
                    <a href="{% url 'addtocart' p.id %}" class="btn btn-success mb-3">Add To Cart</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>



{% endblock %}