{% extends 'main_app/base.html' %}
{% block title %}
Kids Section
{% endblock %}
{% block content %}


<li class="sc-hoHwSh bwfYYK menu-submenu type-default level-0">
    <a href="#" class="sc-gsFAqs ONVbM">Vīriešiem</a>
    <ul class="sc-hWBuvo eeQeeT submenu-submenu">
        <li class="sc-hoHwSh bwfYYK menu-submenu type-default level-1">
            <a href="#" class="sc-gsFAqs ONVbM">Apskatīt</a>
            <ul class="sc-hWBuvo eeQeeT submenu-submenu">
                <li class="sc-hoHwSh jVYOo menu-item level-2 type-default">
                    <a href="#" class="sc-gsFAqs ONVbM">Jaunumi </a>
                </li><li class="sc-hoHwSh jVYOo menu-item level-2 type-default">
                <a href="#" class="sc-gsFAqs ONVbM">Pirktākās </a>
            </li><li class="sc-hoHwSh jVYOo menu-item level-2 type-default">
                <a href="#" class="sc-gsFAqs ONVbM">Tikai tiešsaistē </a>
            </li><li class="sc-hoHwSh cGNALk menu-item level-2 type-7">
                <a href="#" class="sc-gsFAqs hyMbzx">Eco aware </a>
            </li>
            </ul>
        </li>
        <li class="sc-hoHwSh bwfYYK menu-submenu type-default level-1">
        <a href="#" class="sc-gsFAqs ONVbM">Apģērbs</a>
        <ul class="sc-hWBuvo eeQeeT submenu-submenu">
            <li class="sc-hoHwSh jVYOo menu-item level-2 type-default">
                <a href="#" class="sc-gsFAqs ONVbM">T-krekli </a>
            </li>
            <li class="sc-hoHwSh jVYOo menu-item level-2 type-default">
            <a href="#" class="sc-gsFAqs ONVbM">Sporta džemperi </a>
        </li><li class="sc-hoHwSh jVYOo menu-item level-2 type-default">
            <a href="#" class="sc-gsFAqs ONVbM">Džinsa bikses </a>
        </li><li class="sc-hoHwSh jVYOo menu-item level-2 type-default">
            <a href="#" class="sc-gsFAqs ONVbM">Bikses </a>
        </li><li class="sc-hoHwSh jVYOo menu-item level-2 type-default">
            <a href="#" class="sc-gsFAqs ONVbM">Virsdrēbes </a>
        </li>
            <li class="sc-hoHwSh jVYOo menu-item level-2 type-default">
            <a href="#" class="sc-gsFAqs ONVbM">Krekli  </a>
        </li>
            <li class="sc-hoHwSh jVYOo menu-item level-2 type-default">
                <a href="#" class="sc-gsFAqs ONVbM">Šorti </a>
            </li>
        </ul>
    </li>
        <li class="sc-hoHwSh bwfYYK menu-submenu type-default level-1">
            <a href="#" class="sc-gsFAqs ONVbM">Apavi</a>
            <ul class="sc-hWBuvo eeQeeT submenu-submenu">
                <li class="sc-hoHwSh jVYOo menu-item level-2 type-default">
                    <a href="#" class="sc-gsFAqs ONVbM">Apskatīt visus </a>
                </li><li class="sc-hoHwSh jVYOo menu-item level-2 type-default">
                <a href="#" class="sc-gsFAqs ONVbM">Botas </a>
            </li>
                <li class="sc-hoHwSh jVYOo menu-item level-2 type-default">
                    <a href="#" class="sc-gsFAqs ONVbM">Pludmales čības </a>
                </li><li class="sc-hoHwSh jVYOo menu-item level-2 type-default">
                <a href="#" class="sc-gsFAqs ONVbM">Sporta apavi </a>
            </li>
            </ul>
        </li>
        <li class="sc-hoHwSh bwfYYK menu-submenu type-default level-1">
            <a href="#" class="sc-gsFAqs ONVbM">Aksesuāri</a>
            <ul class="sc-hWBuvo eeQeeT submenu-submenu">
                <li class="sc-hoHwSh jVYOo menu-item level-2 type-default">
                    <a href="#" class="sc-gsFAqs ONVbM">Apskatīt visus </a>
                </li>
                <li class="sc-hoHwSh djGafQ menu-item level-2 type-2">
                    <a href="#" class="sc-gsFAqs jEuGIZ">Baseino kolekcija <span class="sc-ihIMkv hiXanZ">new</span></a>
                </li>
                <li class="sc-hoHwSh jVYOo menu-item level-2 type-default">
                    <a href="#" class="sc-gsFAqs ONVbM">Somas, mugursomas </a>
                </li>
                <li class="sc-hoHwSh jVYOo menu-item level-2 type-default">
                    <a href="#" class="sc-gsFAqs ONVbM">Bokseršorti </a>
                </li>
                <li class="sc-hoHwSh jVYOo menu-item level-2 type-default">
                    <a href="#" class="sc-gsFAqs ONVbM">Zeķes </a>
                </li>
                <li class="sc-hoHwSh jVYOo menu-item level-2 type-default">
                    <a href="#" class="sc-gsFAqs ONVbM">Jostas, naudas maki </a>
                </li>
                <li class="sc-hoHwSh jVYOo menu-item level-2 type-default">
                <a href="#" class="sc-gsFAqs ONVbM">Šorti </a>
            </li>
                <li class="sc-hoHwSh jVYOo menu-item level-2 type-default">
                    <a href="#" class="sc-gsFAqs ONVbM">Cepures </a>
                </li>
                <li class="sc-hoHwSh jVYOo menu-item level-2 type-default">
                    <a href="#" class="sc-gsFAqs ONVbM">Saulebrilles </a>
                </li>
            </ul>
        </li>
        <li class="sc-hoHwSh bwfYYK menu-submenu type-default level-1">
            <a href="#" class="sc-gsFAqs ONVbM">Kolekcijas</a>
            <ul class="sc-hWBuvo eeQeeT submenu-submenu">
                <li class="sc-hoHwSh djGafQ menu-item level-2 type-2">
                    <a href="#" class="sc-gsFAqs jEuGIZ">The Art of Life <span class="sc-ihIMkv hiXanZ">new</span></a>
                </li>
                <li class="sc-hoHwSh djGafQ menu-item level-2 type-2">
                    <a href="#" class="sc-gsFAqs jEuGIZ">After Dark <span class="sc-ihIMkv hiXanZ">new</span></a>
                </li>
                <li class="sc-hoHwSh jVYOo menu-item level-2 type-default">
                    <a href="#" class="sc-gsFAqs ONVbM">La Casa De Papel </a>
                </li>
                <li class="sc-hoHwSh jVYOo menu-item level-2 type-default">
                    <a href="#" class="sc-gsFAqs ONVbM">One Step Ahead </a>
                </li>
                <li class="sc-hoHwSh jVYOo menu-item level-2 type-default">
                    <a href="#" class="sc-gsFAqs ONVbM">Get Your Set </a>
                </li>
                <li class="sc-hoHwSh jVYOo menu-item level-2 type-default">
                    <a href="#" class="sc-gsFAqs ONVbM">Licences </a>
                </li>
                <li class="sc-hoHwSh jVYOo menu-item level-2 type-default">
                    <a href="#" class="sc-gsFAqs ONVbM">Basic </a>
                </li>
            </ul>
        </li>
    </ul>
</li>


<div class="container mt-5">
<h1>Kids Section</h1>
<p>..test..test..test</p>
</div>
{% endblock %}