{% extends 'main_app/base.html' %}
{% block title %}
Men Section
{% endblock %}
{% block content %}


<div class="container mt-5">
    <div class="row mt-5">
        {% for p in items %}
        <div class="col-md-3">
            <div class="m-2">
                <h3><a href="{% url 'productdetail' p.slug %}"></a> {{ p.title }}  </h3>
                <a href="{% url 'productdetail' p.slug %}"> <img src="{{ p.image }}" height="175" onmouseover="this.height=210"
                onmouseleave="this.height=175" > </a>
                <p class="mt-4">Price: {{ p.price }} EUR</p>
                <a href="{% url 'addtocart' p.id %}" class="btn btn-success mb-3">Add To Cart</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}