{% extends 'main_app/base.html' %}

{% block title %}
User Registration
{% endblock %}

{% block content %}
<style>
  .errorlist{
    color: red;
    text-transform: uppercase;
    list-style-type: none;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h2 class="text-center mt-4">Sign in</h2><hr>
      <form action="" method="POST" class="mt-5 text-center">
        {% csrf_token %}

        {{form.as_p}}

        <button class="btn btn-dark mt-2 mb-3 w-50">Sign In</button>
        {% if error %}
        <li style="color: red" class="mb-2">{{ error }}</li>
        {% endif %}
      </form>
      <p class="text-center"><a href="{% url 'registration' %}{% if request.GET.next %}?next={{ request.GET.next }}
      {% endif %}" class="text-dark link-hover-decoration">
        Don't have an account? Register here</a></p>
    </div>
  </div>
</div>
{% endblock %}