{% extends 'main_app/base.html' %}
{% block title %}
Women Section
{% endblock %}
{% block content %}

<div class="container">
<div class="sidebar-sticky">
            <hr style="width: 10%;">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">Winter Time</a>
              </li>
              <hr style="width: 10%;">
              <li class="nav-item">
                <a class="nav-link active" href="#">Summer Wear</a>
              </li>
              <hr style="width: 10%;">
              <li class="nav-item">
                <a class="nav-link active" href="#">Footwear</a>
              </li>
              <hr style="width: 10%;">
              <li class="nav-item">
                <a class="nav-link active" href="#">Accessories</a>
              </li>
              <hr style="width: 10%;">
              <li class="nav-item">
                <a class="nav-link active" href="#">Pyjamas</a>
              </li>
              <hr style="width: 10%;">
            </ul>
          </div>
</div>

<div class="container mt-5">
<h1>Women Section</h1>
<p>....test</p>
</div>
{% endblock %}